<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <!--    <script src="/js/layui/layui.js"></script>-->
    <script src="/js/layui/jquery-1.8.3.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-btn-group">
        <button type="button" id="addCat" class="data-mod layui-btn layui-btn-sm"><i class="layui-icon"></i>
        </button>
    </div>
    <div id="catTree" class="demo-tree"></div>

</div>
</div>
<!--<script src="//res.layui.com/layui/src/layui.js?t=1568076536616" charset="utf-8"></script>-->
<script>
    $(function () {
        getCatData();
        $("#addCat").on("click", function () {
            layui.use('layer', function () {
                var $ = layui.jquery, layer = layui.layer;
                layer.open({
                    type: 2,
                    title: ['添加类目', 'font-size:18px;'],
                    closeBtn: 1,
                    shadeClose: true,
                    area: ['400px', '50%'],
                    skin: 'yourclass',
                    content: '/goods/addcatpage',
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.contents().find("#id").val(0); // #detailId? 子页面元素id
                        body.contents().find("#operate").val("add");
                    },
                    end: function () {
                        getCatData();
                    }
                });
            })
        })
    })


    //树数据源
    function getCatData() {
        var url = "/Category/findAllCat";
        var data;
        $.ajax({
            url: url,    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            type: "get",   //请求方式
            success: function (r) {
                layuiTree(r.data)
            }
        });
    }


    //树
    function layuiTree(data) {
        layui.use(['layer', 'tree'], function () {
            var tree = layui.tree;
            var $ = layui.jquery, layer = layui.layer;

            //渲染
            var inst1 = tree.render({
                elem: '#catTree'  //绑定元素
                , showCheckbox: true //开启复选框
                , data: data
                , edit: ['add', 'update', 'del']
                , id: 'domeId'
                , operate: function (obj) {
                    var type = obj.type; //得到操作类型：add、edit、del
                    var data = obj.data; //得到当前节点的数据
                    var elem = obj.elem; //得到当前节点元素
                    //Ajax 操作
                    var id = data.id; //得到节点索引
                    if (type === 'add') { //增加节点
                        $("#catTree").attr("catInfo", data.id);
                        layer.open({
                            type: 2,
                            title: ['添加类目', 'font-size:18px;'],
                            closeBtn: 1,
                            shadeClose: true,
                            area: ['400px', '50%'],
                            skin: 'yourclass',
                            content: '/goods/addcatpage',
                            success: function (layero, index) {
                                var body = layer.getChildFrame('body', index);
                                body.contents().find("#id").val(data.id); // #detailId? 子页面元素id
                                body.contents().find("#operate").val("add");
                            },
                            end: function () {
                                getCatData();
                            }
                        });
                    } else if (type === 'update') { //修改节点
                        var para = {id: data.id, name: data.title};
                        var url = "/Category/editCat";
                        $.get(url, para, function (r) {
                            layer.msg(r);
                            getCatData();
                        })
                    } else if (type === 'del') { //删除节点
                        var para = {id: data.id};
                        var url = "/Category/deleteCat";
                        $.get(url, para, function (r) {
                            if(r.state=='200') {
                                layer.msg(r.message);
                                getCatData();
                            }
                        })
                    }
                    ;
                }
            });

        });
    }


    //取得末端节点
    function getEndBox(checkData) {
        var children = checkData[0].children;
        if (children) {
            if (children.length != 1) {
                return "请勿选择多项"
            }
            return getEndBox(children);
        } else {
            return checkData;
        }
    }
</script>

</body>
</html>