<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/layui/jquery-1.8.3.min.js"></script>
    <script src="/js/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">PSS</div>

    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img  src="" class="layui-nav-img">

        <span class="layui-nav-more"></span></a>
        <dl class="layui-nav-child layui-anim layui-anim-upbit">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="/loginOut">退出</a></li>
    <span class="layui-nav-bar" style="left: 171.391px; top: 55px; width: 0px; opacity: 0;"></span></ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">

      <span class="layui-nav-bar"></span></ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div id="mainContent" style="padding: 15px;">

    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 欧普科技有限公司
  </div>
</div>
<!--<script src="//res.layui.com/layui/src/layui.js?t=1568076536616" charset="utf-8"></script>-->
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>


<script>
 $(function(){
             //"/navigetion/findParent" <!--导航栏数据-->
    $.get("/menu/findMenuToolbar",function (r) {
      if(r.state=="200") {
        var result=r.data;
        $(result).each(function (index, element) {
          if (result[index].parent_id == 0) {
            $(".layui-side-scroll .layui-nav").append
            ("<li class='layui-nav-item layui-nav-itemed'>" +
                    "<a href='javascript:;'>" + result[index].menu_name +
                    "<span class='layui-nav-more'></span></a>" +
                    "<dl id='" + result[index].id + "' class='layui-nav-child'></dl></li>")
          } else {
            $("#" + result[index].parent_id).append("<dd>" +
                    "<a  id='" + result[index].id + "' class='naviga'>" +
                    "" + result[index].menu_name + "</a></dd>");
            $("#" + result[index].id).attr("navigation", result[index].url);
          }
          $(".naviga").unbind('click').on("click", function () {
            var url = $(this).attr("navigation");
            $.get(url, function (result) {
              $("#mainContent").empty().load(url);
            })
          })
        })
      }

    });
   });


</script>

</body>
</html>