<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oupu.pss.dao.CategoryMapper">
<!-- 类目查询-->
    <select id="findCatById" resultType="String">
        SELECT name FROM category where id=#{id}
    </select>

    <select id="findAllCat" resultType="com.oupu.pss.entity.Category">
        SELECT id,name,parent_id,child_size FROM category order by parent_id,id asc
    </select>


<!--    添加类目时增加child_size数量-->
    <update id="updateCatParent">
        update category set child_size=(child_size+1)
         where id=#{parent_id};
    </update>
<!--    类目添加修改删除-->
    <update id="updateCat">
        update category set name = #{name}
         where id=#{id};
    </update>

    <insert id="addCat">
        insert into category (name,parent_id,child_size,createtime) values
        (#{name},#{parent_id},#{child_size},now());
    </insert>

    <delete id="deleteCat">
        delete from category where id=#{id}
    </delete>

</mapper>
