<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oupu.pss.dao.UserRoleMapper">



    <select id="findRoleByUserId" resultType="java.lang.Integer">
        select role_id  from user_role where user_id=#{userId}
    </select>

    <delete id="deleteRoleByUserId">
        delete from user_role where user_id=#{userId}
    </delete>

    <insert id="updateRoleByUserId">
        insert into user_role (user_id,role_id) values (#{userId},#{roleId})
    </insert>
</mapper>
